.containerSlider{
    width: 40%;
    /* background-color: antiquewhite; */
    /* justify-content: ce; */
    margin: 80px 0 0 0;
    display:flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    
}
.containerSearch{
    width: 60%;
    margin: 150px 0;
}
.mainContainer{
    display: flex;
    font-family: 'Rubik', sans-serif;
}
.searchSentence{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--title-color);

}


@media only screen and (max-width: 980px) {
    .mainContainer{
        background-color: lightblue;
    }
    .searchSentence{
        font-size: 2rem;
        font-weight: 700;
    }
    
}