.navBar{
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
    align-items: center;
}

.navLink{
    /* list-style: none; */
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.navLink > div:hover{
    color: var(--main-color);
    cursor: pointer;
    /* border: 1px solid black; */

}
.logo{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 900;
    
}
.signIn{
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 5px 20px;
    background: none;
    font-size: 1.1rem;
    color: var(--main-color);
    /* font-weight: 600; */
    

}